.object {
    position:absolute;
    cursor:pointer;
    user-select:none;
}

.arrow {
    position:absolute;
}

.board {
    position:relative;
    height:400px; /* for now */
    border:1px solid #000;
    user-select:none;
}
