.object {
    position:absolute;
    cursor:pointer;
    user-select:none;
    min-width:25px;
    min-height:25px;
    text-align:center;
    line-height:25px;
    z-index:2;
}

.arrow {
    position:absolute;
    z-index:1;
}

.board {
    position:relative;
    height:400px; /* for now */
    border:1px solid #000;
    user-select:none;
}

.hover {
    position:absolute;
    width:25px;
    height:25px;
    border-radius:25px;
    background:#EDE5E2;
}
